.profile-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: linear-gradient(to right, #4760c0, #17224d);
  padding: 3rem;
  min-height: 100vh;
  gap: 2rem;
}

.left-panel {
  background: rgba(255, 255, 255, 0.05);
  border: 2px dashed #ccc;
  color: white;
  flex: 1;
  padding: 1.5rem;
  height: 500px;
  text-align: center;
  border-radius: 8px;
}

.profile-card {
  color: white;
  background: #2f4187;
  padding: 2rem;
  border-radius: 10px;
  flex: 2;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.profile-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-info label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

.profile-info input {
  width: 100%;
  padding: 0.4rem;
  margin-top: 0.4rem;
}

.right-panel {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding-left: 1rem;
}

.right-panel button {
  width: 140px;
  text-align: center;
  background-color: #4760c0;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn {
  background-color: #c02b2b;
}

.edit-btn {
  margin-left: 0.6rem;

}

.profile-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

.profile-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.profile-img input[type="file"] {
  max-width: 550px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.placeholder-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ccc;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.custom-file-upload {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.custom-file-upload label {
  background-color: #4760c0;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.user-image {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 0.5rem;
  cursor: pointer;
}

.right-panel,
.cancel-btn {
  margin-left: auto;
}